---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import BenefitsSection from '../components/BenefitsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<HeroSection />
		<BenefitsSection />
	</main>
	<Footer />
</Layout>
